In [25]:
import pandas as pd
import numpy as np

In [26]:
groceries = pd.Series(data=[10,12,14,16],index=['eggs','apple','onion','bread'])

In [27]:
groceries

eggs     10
apple    12
onion    14
bread    16
dtype: int64

print(groceries)

In [28]:
groceries.ndim

1

In [29]:
groceries.shape

(4,)

In [30]:
groceries.size

4

In [31]:
'eggs' in groceries

True

In [32]:
groceries[-1]

16

In [33]:
groceries[1]

12

In [34]:
groceries[[0,1]]

eggs     10
apple    12
dtype: int64

In [35]:
groceries.iloc[[0,1]]

eggs     10
apple    12
dtype: int64

In [36]:
groceries['eggs'] = 14

In [37]:
groceries

eggs     14
apple    12
onion    14
bread    16
dtype: int64

In [38]:
groceries.drop('eggs')

apple    12
onion    14
bread    16
dtype: int64

In [39]:
groceries/2

eggs     7.0
apple    6.0
onion    7.0
bread    8.0
dtype: float64

In [40]:
groceries+2

eggs     16
apple    14
onion    16
bread    18
dtype: int64

In [41]:
groceries * 2

eggs     28
apple    24
onion    28
bread    32
dtype: int64

In [42]:
np.sqrt(groceries)

eggs     3.741657
apple    3.464102
onion    3.741657
bread    4.000000
dtype: float64

In [43]:
np.power(groceries,2)

eggs     196
apple    144
onion    196
bread    256
dtype: int64

In [44]:
np.exp(groceries)

eggs     1.202604e+06
apple    1.627548e+05
onion    1.202604e+06
bread    8.886111e+06
dtype: float64

In [45]:
groceries.iloc[2] + 2

16

In [46]:
distance_from_sun = [149.6, 1433.5, 227.9, 108.2, 778.6]

planets = ['Earth','Saturn', 'Mars','Venus', 'Jupiter']
dist_planets = pd.Series(distance_from_sun,planets)

In [47]:
dist_planets

Earth       149.6
Saturn     1433.5
Mars        227.9
Venus       108.2
Jupiter     778.6
dtype: float64

In [48]:
time_light = dist_planets /18

In [51]:
time_light[time_light >40]

Saturn     79.638889
Jupiter    43.255556
dtype: float64

In [54]:
items = {
    'Bob': pd.Series([14,18,12],['meat','bacon','bread']),
    'Ron': pd.Series([14,18,12],['meat','bacon','bread'])
}

In [55]:
shopping_cart = pd.DataFrame(items)

In [56]:
shopping_cart

       Bob  Ron
meat    14   14
bacon   18   18
bread   12   12